
.container {
    width: 85vw;
    height: 85vh;
    padding: 20px;
}

.latest-informations {
    height: 90%;
    width: 100%;
    padding: 20px;
    padding-top: 40px;
    background-color: lightcyan;
    border-radius: 4px;
    border: solid black 1px;
}

h3{
    padding-left: 5px;
    margin: 0px;
}

.new-messages {
    height: 100%;
    width: 100%;
    padding: 20px;
    padding-top: 40px;
}

.tooday-lessons {
    height: 100%;
    width: 100%;
    padding: 20px;
    padding-top: 40px;
}

.informations-container{
    width: 250px;
    height: 250px;
}

.lessons-container{
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}

.empty-lessons-container{
    background-color: lightgray;
    color: darkgray;
    width: 100%;
    height: 95%;
    line-height: 18vw;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
}

.empty-lessons-text{
    font-size: 2vw;
}

.informations-bar-warning{
    border-radius: 4px ;
    border: 1px solid yellow ;
    background-color: rgb(252, 252, 203);
    padding: 5px;
    margin-bottom: 10px;
}

.informations-bar-alert{
    border-radius: 4px ;
    border: 1px solid red ;
    background-color: rgb(255, 198, 198);
    padding: 5px;
    margin-bottom: 10px;
}

.informations-bar-succes{
    border-radius: 4px ;
    border: 1px solid green ;
    background-color: rgb(211, 255, 211);
    padding: 5px;
    margin-bottom: 10px;
}

.image-info{
    width: 40vw;
    height: 45vh;
    background-image: url('../../../images/uniwersityImage.jpg');
    background-repeat: no-repeat;
}