<div class="container">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="new-messages">
                <div class="messages-container">
                    <h2>Witaj w Dziekanacie</h2>
                    <div class="informations-bar-alert">
                        Zaległości finansowe wynoszą 840 PLN, Proszę je uregulować do końca bierzącego miesiąca. W tym
                        celu proszę się skontaktować z działem finansów.
                    </div>
                    <div class="informations-bar-warning">
                        Proszę o pilnowanie aby pod koniec semestru były wpisane wszystie oceny z przedmiotów. Jeżeli
                        jakiś wykładowca zalega z wpisaniem oceny proszę o kontakt z dziekanatem.
                    </div>
                    <div class="informations-bar-warning">
                        Proszę pamiętać o zbliżającej się sesji odbywającej się w systemie stacjonarnym. Proszę się
                        zapoznać z harmonogramem sesji który został wysłany na maile podane w trakcie rejestracji.
                        Dziękujemy i powodzenia.
                    </div>
                    <div class="informations-bar-succes">
                        Udało Ci się zaiczyć poprzedni semestr ze średnią 4.64, to aż 1.64 ponad to co niezbędne.
                        GRATULACJE!!!
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <div class="latest-informations">
                <div class="image-info"></div>
                <h2>
                    Blisko 100 badaczy z UJ w gronie najbardziej wpływowych na świecie
                </h2>
                <span>
                    93 pracowników naukowych najstarszej polskiej uczelni znalazło się na liście TOP 2% najlepszych
                    naukowców na świecie. Ranking - opracowywany przez Uniwersytet Stanforda we współpracy z wydawnictwem
                    Elsevier i firmą SciTech Strategies - ocenia m.in. cały dorobek naukowy poszczególnych uczonych według
                    indeksu bibliometrycznego.
                </span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <div class="tooday-lessons">
                <div class="lessons-container" *ngIf="lessonsData != null">
                    <h3>Zajęcia w dniu dzisiejszym</h3>
                    <app-lesson-plan [smallFormat]="true" [day]="lessonsData"></app-lesson-plan>
                </div>
                <div class="empty-lessons-container" *ngIf="lessonsData == null">
                    <div class="empty-lessons-text">
                        Brak zajęć w dniu dzisiejszym
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>