.container {
    width: 90vw;
    height: 90vh;
    padding: 20px;
}

.dayInTable {
    width: 100%;
}

.mat-subheader {
    width: 100%;
}

.lessonInfo {
    width: 100%;
}

table {
    width: 100%;
}

.example-container {
    margin-top: 20px;
    max-height: 80vh;
    width: 90vw;
    max-width: 100%;
    overflow: auto;
}

.show-button {
    margin-left: 15px;
}