.container{
    padding: 10px;
    background-color: rgb(59, 17, 78);
    max-width: 100px;
    height: 895px;
    float: left;
}

.tile{
    padding: 10px;
    border-bottom: 2px solid lightgray;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}