<div *ngIf="isUserAuthenticated()" class="container">
    <div>
        <div class="tile">
            <div class="text">
                <a routerLink="/lessons" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <span>Plan zajęć</span>
                </a>
            </div>
        </div>
        <div class="tile">
            <div class="text">
                <a routerLink="/grades" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <span>Oceny</span>
                </a>
            </div>
        </div>
        <div class="tile">
            <div class="text" [matBadge]='messageCount' matBadgeOverlap="false" matBadgeColor="warn" [matBadgeHidden]="messageCount === 0">
                <a routerLink="/messages" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <span>Wiadomości</span>
                </a>
            </div>
        </div>
    </div>
</div>
