.container{
    background-color: rgb(59, 17, 78);
    max-width: 150px;
    min-height: calc(100vh - 54px);
    padding: 10px;
    box-sizing: border-box;
}

.tile{
    padding: 10px;
    border-bottom: 2px solid lightgray;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}